<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/../static/forumMain.css">
    <title>Skill Exchange</title>
</head>
    <body>
        <div class = "welcome">
            <h1>Welcome to your Skill Exchange!</h1>
            {% block welcome %}
            {% endblock %}
            <form action="/refresh" method="POST">
                <button type="submit" name="refresh" value="refreshPage">Refresh Feed</button>
            </form>
        </div>
        <div class = "newPost">
            <form action = "/handleNewPost" method = "POST">
                <h3>Join the Discussion</h3>
                <table>
                    <tr>
                        <td>Title</td>
                        <td><input type="text" name="title"></input></td>
                    </tr>
                    <tr>
                        <td>Message</td>
                        <td><textarea type="text" name="content"></textarea></td>
                    </tr>
                    <tr>
                        <td>
                            <button type="submit" name="post" value="mainPost">Post</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class = "content">
            {% block oldPost %}
            {% endblock %}
        </div>
        <div class = "button">
            <form action = "/" method = "POST">
                <button>Logout</button>
            </form>
        </div>
    </body>
</html>
  