<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
body {
  font-family: 'Ubuntu', sans-serif;;
  color: black;
  background: linear-gradient(
    to right,
    #E7CFFF 0%,
    #E7CFFF 50%,
    #FFFBD7 50%,
    #FFFBD7 100%
    
  );
}

h1 {
  font-size: 144px;
}

.title {
  position: absolute;
  top: 0%;
  width: 100%;
}


</style>
</head>
<body>
  <center>
  <h1 class="title">TestTheTech</h1>
  
  </center>

</body>
</html> 

