<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Skill Exchange</title>
</head>
    <body>
        <div class = "entries">
            <form action = "/login-verify" method = "POST">
                <table>
                    <tr>
                        <td>Username</td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="username"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                    </tr>
                    <tr>
                        <td>
                            <input type = "password" name = "password"></input>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type = "submit" name = "submit" value ="login">Login</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </body> 
</html>