<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Post Your Project!</title>

<head>
    <h1> Enter the title of your program below </h1> 
</head>

    <form>
        <input type="text">
    </form>

<head>
    <h1> Enter a summary of your program below. </h1> 
</head>

<form>
    <input type="text">
</form>

<head>
    <button type="button"> Post </button>
</head> 
